	
	.headtop
	{
		position: relative;
		top :100px;
		left :500px;
		background:#FB2A2A;
		text-align: center;
		font-family: "Times New Roman", Times, serif;
		font-size: 30px;
		color: #EEEEEE;
		width: 500px;
		border: 5px solid color:#FBC94B ;
   	    border-radius: 10px;
	}
	.body
	{
		position: relative;
		top :100px;
		left :500px;
		background-color: #FFC12E;
		width: 500px;
		height: 500px;
		border bottom: : 5px solid color:#FBC94B ;
   	    border-radius: 10px;
	}
	.text 
	{
		position: relative;
		top :30px;
		left :30px;
		font-family: "Times New Roman", Times, serif;
		font-size: 19px;
	}
	.btt
	{
		position: relative;
		top :5px;
		left :200px;
	}